* {
    box-sizing: border-box;
}

html {
    background-color: var(--primary-background-dark);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
